/*Color de objetos del header*/
.color_nav {
    color: #ECECEC;
}

.color_nav_text {
    color: #2E4186;
}

.color_nav_crear_usu {
    color: #3149a1;
}


.boton {
    display: inline-block;
    border: 3px solid #3ED1FF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}

.boton img {
    display: block;
    width: 60px;
    height: auto;
    border-radius: 8px;
    border-color: #3ED1FF;
}

/*colores de objetos del footer*/

.footer_color_boton {
    background-color: #043342;
}

.footer_color_boton:hover {
    background-color: white;
}

.footer_color_boton img {

    transition: filter 0.5s;
}

.footer_color_boton:hover img {
    filter: invert(1);
}

/*pagina principal*/
.sin_link {
    text-decoration: none;
    color: black;
}

/*quienes somos?*/
.fondo-imagen {
    background-image: url("../../recursos/img/admin/fondo_quienees_somos.png");
    background-size: cover;
    /* Ajusta el tamaño de la imagen para cubrir todo el div */
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    width: 100%;
    /* Ancho del div */
    height: 300px;
    /* Altura del div */
}

/*pagina inicio*/
.color_nav {
    background-color: #ECECEC;
}

.titulo_estilo {
    font-family: "Inter", sans-serif;
}

/*Colores base*/
.color_secundario {
    color: #3ED1FF
}

.color_fondo{
    background-color: #043342;
}