.cartaPacientePrivado{
    width: 18rem;
    height: auto;
}

.textopacienteprivado{
    height: auto;
    max-height: 200px;
}

.textodenotadefinido{
    height: auto;
    max-height: 400px;
    border-color: rgb(42, 141, 180);
}

.textodenotasgregar{
    height: auto;
    max-height: 400px;
    border-color: rgb(42, 141, 180);
}
